
<% conn = @batch_connect_session.conn_params %>
<% mwitoken = conn[:mwi_auth_token] || conn["mwi_auth_token"] %>




<form action="/node/<%= host %>/<%= port %>/matlab?mwi-auth-token=<%= mwitoken %>" method="post" target="_blank">
  <input type="hidden" name="mwi-auth-token" value="<%= mwitoken %>">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to MATLAB
  </button>
</form>