

<form action="/node/<%= host %>/<%= port %>/matlab?mwi-auth-token=<%= mwi_auth_token %>" method="post" target="_blank">
  <input type="hidden" name="mwi_auth_token" value="<%= mwi_auth_token %>">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to MATLAB
  </button>
</form>